.calculator{
    border: 2px solid green;
    display: grid;
    width: 450px;
    height: 550px;
    font-size: 1.5rem;
    position: static;
    /* flex-flow: row wrap; */
    grid-template-areas: 
    'display display display clear'
    'display display display divide'
    'seven eight nine multi'
    'four five six minus'
    'one two three plus'
    'key0 key0 deci calculate';
}

/*display area*/

.display{
    grid-area: display;
    font-size: 1rem;
}


.clear{
    grid-area: clear;
    
}

.calculate{
    grid-area: calculate;
}

/* Number Keys */

.key1{
    grid-area: one;
}

.key2{
    grid-area: two;
    
}
.key3{
    grid-area: three;
    
}
.key4{
    grid-area: four;
    
}

.key5{
    grid-area: five;
    
}
.key6{
    grid-area: six;
    
}
.key7{
    grid-area: seven;
    
}
.key8{
    grid-area: eight;
    
}
.key9{
    grid-area: nine;
    
}
.keyDecimal{
    grid-area: deci;
    
}

.key0{
    grid-area: key0;
}

/*operators*/

.divide{
    grid-area: divide;
    
}
.multi{
    grid-area: multi;
    
}
.plus{
    grid-area: plus;
    
}
.minus{
    grid-area: minus;
    
}


